@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700&display=swap');

html {
  scroll-behavior: smooth;
}

h1 {
  font-size: 10em;
  /* color: #B6B12B; */
  color: #272d26;
  font-family: 'Playfair Display', serif;
}

h2 {
  color: #272d26;
  font-family: 'Playfair Display', serif;
}

p {
  font-family: 'Playfair Display', serif;
}

body {
  font-family: 'Playfair Display', serif;
  background-image: url(/storage/images/summerforest.jpg);
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: center;
  margin: auto;
}

#banner {
    width: 100%;
    height: 360px;
    object-fit: cover;
  }

  *{
    margin:0;
    padding:0;
    box-sizing:border-box;
  }
  
  .playbutton{
    display:grid;
    place-items:center;
    cursor:pointer;
    padding:4rem;
    border-radius:0%;
    transition:all 0.3s ease-in;
  }
  .playbutton .fas{
    display:grid;
    place-items:center;
    font-size:4rem;
    color:gray;
  }
  .playbutton:active .fas{
    color:#721efa;
  }
